<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Gordon Family</name>

  <description>
	Gordon's of Nebraska
  </description>

  <author href="https://appsmade4u.com" email="support@phonegap.com">
	Bruce E. Gordon
  </author>
  <plugin name="cordova-plugin-barcodescanner" />
  <plugin name="cordova-plugin-battery-status" />  
  <plugin name="cordova-plugin-network-information" spec="~2.0.2" />
  <plugin name="cordova-plugin-geolocation" spec="~4.0.2" />
  
  <platform name="android">
     <preference name="android-minSdkVersion" value="28" />
 </platform>

<icon src="icon.png" />

</widget>

